{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }} {{ end }} {{ define
"main" }}
<section id="main" class="prose lg:prose-lg max-w-prose mx-6 md:mx-auto">
  <nav aria-label="breadcrumb" class="text-sm breadcrumbs not-prose">
    <ul>
      {{ range .Ancestors.Reverse }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
      <li>
        <a aria-current="page" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    </ul>
  </nav>
  <article class="my-2">
    <h1>{{ .Title }}</h1>
    <aside id="meta" class="not-prose text-sm md:text-base">
      {{ if .Date }}
      <p>Posted: {{ .Date.Format "Monday January 2nd, 2006" }}</p>
      {{ end }} {{ with .GetTerms "tags" }}
      <p>
        Tags: {{ range . }}
        <a class="badge-primary badge" href="{{ .RelPermalink }}"
          >{{ .LinkTitle }}</a
        >
        {{ end }}
      </p>
      {{ end }}
    </aside>
    {{ .Content }}
  </article>
</section>
{{ end }}
