{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define
  "main"
}}
  <section
    id="main"
    class="mt-12 prose lg:prose-lg max-w-prose mx-6 md:mx-auto">
    {{ if .Draft }}
      <div role="alert" class="alert alert-info not-prose shadow-lg inset-x-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-current shrink-0 w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Draft post.</span>
      </div>
    {{ end }}
    {{ partial "components/breadcrumbs.html" . }}
    <article class="my-2">
      <h1 class="not-prose text-5xl font-bold mb-4 text-base-content">
        {{ .Title }}
      </h1>
      <aside id="meta" class="not-prose text-sm md:text-base">
        {{ if .Date }}
          <p>Posted: {{ .Date.Format "Monday January 2nd, 2006" }}</p>
        {{ end }}
        {{ partial "components/tags.html" . }}
        {{ partial "components/categories.html" . }}
        {{ partial "components/projects.html" . }}
      </aside>
      {{ .Content }}
    </article>
  </section>
{{ end }}
