{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }} {{ end }} {{ define
"main" }} {{ $articleWidth := "max-w-prose mx-6 md:mx-auto" }} {{ if
.Params.p5js }} {{ $articleWidth = "min-w-fit mx-auto" }} {{ end }}
<section id="main" class="prose lg:prose-lg {{ $articleWidth }}">
  <nav aria-label="breadcrumb" class="text-sm breadcrumbs not-prose">
    <ul>
      {{ range .Ancestors.Reverse }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
      <li>
        <a aria-current="page" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    </ul>
  </nav>

  <article class="my-2">
    <h1 class="not-prose text-5xl font-bold mb-4 text-primary-content">
      {{ .Title }}
    </h1>
    <aside id="meta" class="not-prose text-sm md:text-base">
      {{ if .Date }}
      <p>Posted: {{ .Date.Format "Monday January 2nd, 2006" }}</p>
      {{ end }} {{ with .GetTerms "tags" }}
      <p>
        Tags: {{ range . }}
        <a class="badge-primary badge" href="{{ .RelPermalink }}"
          >{{ .LinkTitle }}</a
        >
        {{ end }}
      </p>
      {{ end }}
    </aside>
    {{ if .Params.p5js }}
    <div class="mt-4" id="sketch-holder"><!-- Our sketch will go here! --></div>
    {{ end }} {{ .Content }}
  </article>
</section>
{{ end }}
